@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $('#btnCerrarSesion').click(function () {
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("CerrarSesion","Seguridad")',
                processData: true,
                success: function (data) {

                    $.LoadingOverlay("hide");
                    window.location.href = '@Url.Action("Ingreso", "Home")';
                },
                error: function (xhr, ajaxOptions, error) {
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error de Sistema");
                    $("#txtModalContenido").text("Fallo al cerrar sesión, contacte a la persona administradora de SIVIO");
                    instMensajes.open();
                    $.LoadingOverlay("hide");

                }
            });
        });

        $('#btnInicio').click(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        });

        $('#btnUsuarios').click(function () {
            debugger;
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("GridUsuarios", "Seguridad")',
                async: true
            }).done(function (data) {

                $.LoadingOverlay("hide");
                $('#contendorFrames').html(data);
                $("#contenedorEspera").hide();
                $('#contendorFrames').fadeIn();


            }).fail(function (exception) {
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error de Sistema");
                $("#txtModalContenido").text("Fallo al cargar la pantalla, contacte a la persona administradora de SIPAMU");
                $("#contenedorEspera").hide();
                instMensajes.open();
                $.LoadingOverlay("hide");
            });
        });

        $('#btnBuscarBitacora').click(function () {
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConsultaCoavif", "Expediente")',         
                async: true
            }).done(function (data) {

                $.LoadingOverlay("hide");
                $('#contendorFrames').html(data);
                $("#contenedorEspera").hide();
                $('#contendorFrames').fadeIn();


            }).fail(function (exception) {
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error de Sistema");
                $("#txtModalContenido").text("Fallo al cargar la pantalla, contacte a la persona administradora de SIPAMU");
                $("#contenedorEspera").hide();
                instMensajes.open();
                $.LoadingOverlay("hide");
            });
                
        });
    });
</script>
<nav class="navbar navbar-default navbar-static-top borde" style="margin-top: 5px; padding-bottom: 5px !important; background-color: white !important">

    <div class="container" style="width: 100%; padding-left: 15px; padding-right: 15px;">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><img src="http://www.inamu.go.cr/tema_principal_interno-theme/images/main-logo.png" alt="logo" style="padding-left: 6px"></li>
                @*<li style="padding-top: 5px;">
                        <a href="#" id="btnPrincipal">
                            <i class="pe-7s-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>*@
                <li>
                    <a href="#" id="btnInicio">
                        <i class="pe-7s-home"></i>
                        <span>Inicio</span>
                    </a>

                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-note2" style="margin-right: 3px"></i>Expediente <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnBuscarExpediente">Buscar Expediente</a></li>
                        <li><a href="#" id="btnBuscarPersona">Buscar Persona en el Padrón</a></li>
                        <li><a href="#" id="btnSistemas">Buscar en Sistemas INAMU</a></li>


                    </ul>
                </li>
                @*@if (Model)
                    {
                        <text>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-portfolio" style="margin-right: 3px"></i>Catálogos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnCatalogos">Administrar Catálogos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-settings" style="margin-right: 3px"></i>Seguridad <span class="caret"></span>
                    </a>
                    <!--jose angel-->
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnUsuarios">Administrar Personas Usuarias</a></li>
                        <li><a href="#" id="btnRoles">Administrar Roles y Permisos</a></li>
                        <li><a href="#" id="btnGrupos">Administrar Tarjetas Inteligentes</a></li>
                        <li><a href="#" id="btnBuscarBitacora">Bitácora</a></li>
                    </ul>
                    <!--Jose angel-->

                </li>
                @*</text>
                    }*@

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-news-paper" style="margin-right: 3px"></i>Reportes <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Expedientes</li>
                        <li><a href="#" id="btnRptAtenciones">Reporte de Expedientes</a></li>
                        <li class="dropdown-header">Flujos de Trabajo</li>
                        <li><a href="#" id="btpRptConsultas">Reporte de Consultas</a></li>
                        <li><a href="#" id="btnRptAtenciones">Reporte de Atenciones</a></li>
                        @*<li class="dropdown-header">Seguridad</li>
                            <li class="dropdown-header">Otros</li>*@

                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" id="btnCerrarSesion">

                        <span>Salir (@string.Concat(HttpContext.Current.User.Identity.Name))</span>
                        <i class="pe-7s-close"></i>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

