@{
    Layout = null;
}
@using SIVIO.Entidades
@model List<TBL_USUARIO>
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<div class="container-fluid">
    <style>
        .buttons-excel {
            background-color: green;
            color: white;
        }

        .buttons-pdf {
            background-color: red;
            color: white;
        }

        .paginate_button {
            padding: 0px !important;
        }
        /*.paginate_button active {
            padding: 0px !important;


        }*/
    </style>
    <style>
        .pad {
            padding-bottom: 3px;
            margin-bottom: 3px;
        }

        .parsley-required {
            color: red;
            font-weight: bold;
        }

        .checkNoSpace {
            padding-left: 0px !important;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: white;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: white;
            opacity: 1;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: white;
            opacity: 1;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
        }
    </style>

    <style>
        input, select, textarea {
            max-width: 100%;
            padding: 4px;
        }
    </style>
    <script src="~/Scripts/INAMU.datatables.min.js"></script>
    <script>
        var tablaUsuarios = $('#tblListadoUsuarios').DataTable({
            responsive: true,
            dom: 'fBrtlp<"clear">',
            select: true,
            buttons: [

        {
            extend: 'excelHtml5',
            text: '<i class="fa fa-file-excel-o"></i>',
            titleAttr: 'Excel'
        },
        {
            extend: 'pdfHtml5',
            text: '<i class="fa fa-file-pdf-o"></i>',
            titleAttr: 'PDF'
        }, {
            text: '<i class="fa fa-pencil-square-o"></i>',
            titleAttr: 'Editar Persona Usuaria',
                action: function (e, dt, node, config) {
                    debugger;

                    var contSeleccionados = tablaUsuarios.rows({ selected: true }).count();
                    var filaSeleccionada = tablaUsuarios.rows({ selected: true }).data();
                    if (contSeleccionados > 0) {

                        $("#contenedorGrid").hide();
                        $("#contenedorRoles").fadeIn();
                        $("#contenedorEspera").show();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("FrmUsuarios", "Seguridad")',
                            data: { pkUsuario: filaSeleccionada[0].PKUSUARIO },
                            async: true
                        }).done(function (data) {


                            $('#contenedorUsuarios').html(data);
                            $("#contenedorEspera").hide();
                            $('#contenedorUsuarios').fadeIn();


                        }).fail(function (exception) {
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error");
                            $("#txtModalContenido").text(exception);
                            instMensajes.open();
                        });
                    } else {
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("No se seleccionaron roles");
                        $("#txtModalContenido").text("Seleccione un rol para continuar");
                        instMensajes.open();
                    }

                    debugger;
                }
        }, {
            //extend: 'plusHtml5',
            text: '<i class="fa fa-plus-square"></i>',
            titleAttr: 'Agregar un nueva Persona Usuaria',
            action: function (e, dt, node, config) {
                debugger;

                $("#contenedorGrid").hide();
                $("#contenedorUsuarios").fadeIn();
                $("#contenedorEspera").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FrmAgregarUsuarios", "Seguridad")',
                    async: true
                }).done(function (data) {


                    $('#contenedorUsuarios').html(data);
                    $("#contenedorEspera").hide();
                    $('#contenedorUsuarios').fadeIn();


                }).fail(function (exception) {
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error");
                    $("#txtModalContenido").text(exception);
                    instMensajes.open();
                });



                debugger;
            }
        }

            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "processing": true, // for show progress bar
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            tableTools: {
                "sRowSelect": "single"
            },
                        //            <th>PKUSUARIO</th>
                        //<th>USUARIO</th>
                        //<th>NOMBRE</th>
                        //<th>PRIMER APELLIDO</th>
                        //<th>SEGUNDO APELLIDO</th>
                        //<th>FECHA REGISTRO</th>
                        //<th>ROL</th>
            "columns": [
                { "data": "PKUSUARIO", "name": "PKUSUARIO", "autoWidth": true, "visible": false },
                { "data": "USUARIO", "name": "USUARIO", "autoWidth": true },
                { "data": "NOMBRE", "name": "NOMBRE", "autoWidth": true },
                { "data": "APELLIDO1", "name": "APELLIDO1", "autoWidth": true },
                { "data": "APELLIDO2", "name": "APELLIDO2", "autoWidth": true },
                { "data": "FECHAREGISTRO", "name": "FECHAREGISTRO", "autoWidth": true },
                { "data": "ROL", "name": "ROL", "autoWidth": true }

            ]

        });
        $('#tblListadoUsuarios tbody').on('click', 'tr', function () {
            debugger;
            if ($(this).hasClass('selected')) {




                $("#tblListadoUsuarios tr").removeClass("selectedDT");
                $("#tblListadoUsuarios tr").removeClass("selected");
                $(this).addClass('selected');
                $(this).addClass('selectedDT');
            }
            else {
                $(this).removeClass('selectedDT');

            }
        });
        $(document).ready(function () {
            document.title = "SIPAMU - Seguridad";
            var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();

            $("#contenedorUsuarios").hide();


        });

        function refrescarGrid() { tablaUsuarios.ajax.reload() }
    </script>
    <div class="row" id="contenedorGrid" style="padding-top: 10px; padding-bottom: 6px; background-color: white; margin-bottom: 6px; margin-left: 0px; margin-right: 0px;
                                                                                                                                                                                                                                                background-color: #FFFFFF;
                                                                                                                                                                                                                                                border: 1px solid #E3E3E3; border-radius: 4px; -webkit-box-shadow: none; box-shadow: none;">
        <div class="col-md-12">
            <table id="tblListadoUsuarios" class="display table-bordered" cellspacing="0" style="width: 100%">
                <caption><div class="comunForm" style="text-align: center; color: #c31618; border-color: #c31618 !important;"><i class="fa fa-bell" style="margin-right: 2px"></i>Lista de Usuarios Existentes</div></caption>
                <thead>
                    <tr>
                        <th>PKUSUARIO</th>
                        <th>USUARIO</th>
                        <th>NOMBRE</th>
                        <th>PRIMER APELLIDO</th>
                        <th>SEGUNDO APELLIDO</th>
                        <th>FECHA REGISTRO</th>
                        <th>ROL</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (TBL_USUARIO usuario in Model)
                    {
                        <tr>
                            <td>@Html.Raw(usuario.PK_USUARIO)</td>
                            <td>@Html.Raw(usuario.VC_USUARIO)</td>
                            <td>@Html.Raw(usuario.VC_NOMBRE)</td>
                            <td>@Html.Raw(usuario.VC_APELLIDO1)</td>
                            <td>@Html.Raw(usuario.VC_APELLIDO2)</td>
                            <td>@Html.Raw(usuario.DT_FECHAREGISTRO.ToShortDateString())</td>
                            @if (usuario.TBL_ROL_USUARIO .Any())
                            {
                                <td>@Html.Raw(string.Join(",", usuario.TBL_ROL_USUARIO.Select(m => m.TBL_ROL.VC_NOMBRE)))</td>
                            }
                            else
                            {
                                <td>@Html.Raw("SIN ASIGNAR")</td>
                            }


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="contenedorUsuarios">


    </div>


</div>






