@{
    Layout = null;
}
@using SIVIO.Entidades;
@model TBL_PERSONA
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>
<script type="text/javascript">

    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        PrevenirCaracteresInvalidos();
        document.title = "SIVIO - COAVIF y Equipo Estrategico";
        InicializarOtrosEventos();
        CargarDivisionTerritorial();
        $('#meses').hide();
        $('#checkEmbarazo').click( function () {
            if ($(this).is(':checked')) {
                $('#meses').show();
            } else {
                $('#meses').hide();
                $('#intEmbarazo').val("0");
            }
        });
        $('#cmbPersonaProvincia').val(@Model.FK_PROVINCIAPROCEDENCIA);
        $('#cmbPersonaCanton').val(@Model.FK_CANTONPROCEDENCIA);
        $('#cmbPersonaDistrito').val(@Model.FK_DISTRITOPROCEDENCIA);
    });

    function CargarDivisionTerritorial() {
        var divisionTerritorial = JSON.parse(localStorage.getItem('divisionTerritorial'));
        $("#cmbPersonaProvincia")
            .change(function () {
                debugger;
                $('#cmbPersonaCanton').find('option').remove().end();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
                        //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaCanton")
                            .append($("<option />")
                                .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                                .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
                    }

                }
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                        //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaCanton")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                        //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaDistrito")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });


        for (var j = 0; j < divisionTerritorial[0].Value.length; j++) {
                //console.log(data[0].Value[j].VC_DESCRIPCION);
            $("#cmbPersonaProvincia")
                .append($("<option />")
                    .val(divisionTerritorial[0].Value[j].I_IDPROVINCIA)
                    .text(divisionTerritorial[0].Value[j].VC_DESCRIPCION));
        }
        var empresaProvinciaSel = $("#cmbPersonaProvincia").val();
        for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
                //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaCanton")
                    .append($("<option />")
                        .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                        .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
            }

        }


        var empresaCantonSel = $("#cmbPersonaCanton").val();
        for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[2].Value[j].I_IDCANTON == empresaCantonSel &
                divisionTerritorial[2].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaDistrito")
                    .append($("<option />")
                        .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                        .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
            }

        }

        for (var j = 0; j < divisionTerritorial[3].Value.length; j++) {
            $("#cmbPersonaRegion")
                .append($("<option />").val(divisionTerritorial[3].Value[j].I_IDREGION).text(divisionTerritorial[3].Value[j].VC_DESCRIPCION));
        }

    }

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);

        $("#txtFecha").val(fechaHoy);
        $('#txtFecha').css("background-color", "#f2f2f2");
        $("#txtFecha").prop("readonly", true);

        var hora = d.getHours();
        //var jornada = (hora > 12 ? 'PM' : 'AM');
        var minutos = d.getMinutes();
        //var inicio = (hora > 12 ? '0' + hora - 12 : hora) + ':' + (minutos > 9 ? '' : '0') + minutos + ' ' + jornada;
        var inicio = hora + ':' + (minutos > 9 ? '' : '0') + minutos;

        $("#txtHoraInicio").val(inicio);
        $('#txtHoraInicio').css("background-color", "#f2f2f2");
        $("#txtHoraInicio").prop("readonly", true);
        $('#txtHoraFinalizacion').css("background-color", "#f2f2f2");
        $("#txtHoraFinalizacion").prop("readonly", true);
        //----------------------------------------------------
        var personaRefiere = "@Model.VC_NOMBRE @Model.VC_APELLIDO1 @Model.VC_APELLIDO2";
        $("#txtPersonaQuienRefiere").val(personaRefiere);
        $('#txtPersonaQuienRefiere').css("background-color", "#f2f2f2");
        $("#txtPersonaQuienRefiere").prop("readonly", true);

        $("#txtCorreoPersona").val("@Model.VC_CORREO");
        $('#txtCorreoPersona').css("background-color", "#f2f2f2");
        $("#txtCorreoPersona").prop("readonly", true);
        //----------------------------------------------------
        $("#txtInstitucion").val("INAMU");
        $('#txtInstitucion').css("background-color", "#f2f2f2");
        $("#txtInstitucion").prop("readonly", true);

        $.ajax({
            type: "POST",
            url: '@Url.Action("CargarPersonas")',
            data: {
                id: "@Model.PK_PERSONA"
            },
            datatype: "json",
            //contentType: "application/json",
            async: true,
            processData: true,
            success: function (resultado) {
                var respuesta = JSON.parse(resultado);
                if (respuesta.Mensaje.TipoMensaje === 1) {
                    var usuario = respuesta.usuarioNombre + ' ' + respuesta.usuarioApellido1 + ' ' + respuesta.usuarioApellido2;
                    $("#txtPersonaAtiende").val(usuario);
                    $('#txtPersonaAtiende').css("background-color", "#f2f2f2");
                    $("#txtPersonaAtiende").prop("readonly", true);

                    var telefonoPersona = respuesta.personaTelefono;
                    $("#txtTelefonoPersona").val(telefonoPersona)
                    $('#txtTelefonoPersona').css("background-color", "#f2f2f2");
                    $("#txtTelefonoPersona").prop("readonly", true);

                    if (respuesta.usuarioRol != 27) {
                        //$("#cmbTipoDisponibilidad").prop("disabled", true);
                        $("#cmbTipoDisponibilidad").hide(); 
                        $("#lblDisponibilidad").hide();
                    }
                } else {
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error");
                    $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                    instMensajes.open();
                }
            }, error: function (xhr, ajaxOptions, error) {
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
            }
        })

        $.ajax({
            type: "POST",
            url: '@Url.Action("CargarCatalogos")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            success: function (resultado) {
                debugger;
                var respuesta = JSON.parse(resultado);
                if (respuesta.Mensaje.TipoMensaje === 1) {
                    $.each(respuesta.CatalogoTiposDisponibilidad, function (key, value) {
                        $('#cmbTipoDisponibilidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#comPais').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#comOtraNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $('#comOtraNacionalidad').val(@Model.FK_NACIONALIDAD2);

                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#comNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $('#comNacionalidad').val(@Model.FK_NACIONALIDAD);

                    $.each(respuesta.CatalogoCondicionMigratoria, function (key, value) {
                        $('#comMigratoria').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $('#comMigratoria').val(@Model.FK_CONDICIONMIGRATORIA);

                    $.each(respuesta.CatalogoDiscapasidades, function (key, value) {
                        $('#comDiscapacidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                } else {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error");
                    $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                    instMensajes.open();
                    $.LoadingOverlay("hide");
                }
            },
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        });



        $('#btnCancelarDatosAdministrativos').click(function () {
            //window.location.href = 'Url.Action("Index", "Home")';
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("BusquedaExpedienteCoavif", "Expediente")',
                async: true
            }).done(function (data) {
                $.LoadingOverlay("hide");
                $('#contendorFrames').html(data);
                $("#contenedorEspera").hide();
                $('#contendorFrames').fadeIn();
            }).fail(function (exception) {
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error de Sistema");
                $("#txtModalContenido").text("Fallo al cargar la pantalla, contacte a la persona administradora de SIPAMU");
                $("#contenedorEspera").hide();
                instMensajes.open();
                $.LoadingOverlay("hide");
            });
        });

        $("#btnGuardarDatosAdministrativos").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("guardarDatoAdministrativo", "Expediente")',
                data: {
                    Fecha: $("#txtFecha").val(),
                    HoraInicio: $("#txtHoraInicio").val(),
                    Persona: "@Model.PK_PERSONA",
                    TipoDisponibilidad: $("#cmbTipoDisponibilidad").val()
                },
                datatype: "json",
                processData: true,
                success: function (resultado) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "green");
                    $("#txtModalTitulo").text("Exito");
                    $("#txtModalContenido").text("-----");
                    instMensajes.open();
                    $.LoadingOverlay("hide");
                }, error: function (xhr, ajaxOptions, error) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error al registrar");
                    $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                    instMensajes.open();
                    $.LoadingOverlay("hide");

                }
            });
        });

        $("#btnCrearCaso").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CrearNuevoCaso", "Expediente")',
                data: {
                    id: "@Model.PK_PERSONA"
                },
                //datatype: "json",
                //contentType: "application/json",
                async: true,
                processData: true,
                success: function (resultado) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "green");
                    $("#txtModalTitulo").text("Exito");
                    $("#txtModalContenido").text("CREAR CASO");
                    instMensajes.open();
                    $.LoadingOverlay("hide");
                }, error: function (xhr, ajaxOptions, error) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error al registrar");
                    $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                    instMensajes.open();
                    $.LoadingOverlay("hide");

                }
            })
        });
        $("#btnCerrarCaso").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CerrarCaso", "Expediente")',
                data: {
                    id: "@Model.PK_PERSONA"
                },
                datatype: "json",
                //contentType: "application/json",
                async: true,
                processData: true,
                success: function (resultado) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "green");
                    $("#txtModalTitulo").text("Exito");
                    $("#txtModalContenido").text("CERRAR CASO");
                    instMensajes.open();
                    $.LoadingOverlay("hide");
                }, error: function (xhr, ajaxOptions, error) {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error al registrar");
                    $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                    instMensajes.open();
                    $.LoadingOverlay("hide");

                }
            })
        });
    }

</script>
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    @*<div class="col-md-2 form-group"></div>*@
    <div class="col-md-12 form-group">
        <div class="row" style="margin-left:20px;margin-right:20px;">
            <h3>Expediente de: @Model.VC_NOMBRE @Model.VC_APELLIDO1 @Model.VC_APELLIDO2</h3>
            <h5>Identificación: @Model.VC_IDENTIFICACION <br /> Número de expediente: @Model.PK_PERSONA</h5>
        </div>
    </div>    
        <div class="col-md-2 form-group">
            <button type="button" id="btnExpediente" class="btn btn-default btn-responsive" style="margin-bottom:5px; margin-top:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;" >Expediente</button>

            <button type="button" id="btnReferencias" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Referencias</button>

            <button type="button" id="btnHistorial" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Historiales</button>

            <button type="button" id="btnCrearCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Crear Caso</button>

            <button type="button" id="btnCerrarCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Cerrar Caso</button>
        </div>

        <div class="col-md-10 form-group">
            <form id="formCoavif" method="post">                
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#datAdministrativos">
                            <i class="fa fa-file-text" aria-hidden="true"></i>Datos Administrativos
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#datUsuaria">
                            <i class="fa fa-address-card" aria-hidden="true"></i>Datos Usuaria
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#valoracion">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Valoración
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#atencion">
                            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>Atención
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="datAdministrativos" class="tab-pane fade in active">
                        <div class="row comunForm">
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    @*<button class="botonCerrar danger" id="btnCerrarFrmDatosAdministrativos">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Fecha del incidente</label>
                                    <input class="form-control" id="txtFecha" type="text" required="">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hora inicio</label>
                                    <input class="form-control" id="txtHoraInicio" type="text" required="">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hora finalización</label>
                                    <input class="form-control" placeholder="--:-- --" id="txtHoraFinalización" type="text" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Persona que atiende</label>
                                    <input class="form-control" id="txtPersonaAtiende" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label id="lblDisponibilidad">Tipo de disponibilidad</label>
                                    <select class="form-control" id="cmbTipoDisponibilidad" type="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Institucion que refiere</label>
                                    <input class="form-control" id="txtInstitucion" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Nombre de quien refiere</label>
                                    <input class="form-control" id="txtPersonaQuienRefiere" type="text" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Telefono</label>
                                    <input class="form-control" id="txtTelefonoPersona" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Correo</label>
                                    <input class="form-control" id="txtCorreoPersona" type="text" required="">
                                </div>
                            </div>
                            <div class="row" id="contenedorBotones">
                                <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                                    <button type="button" id="btnGuardarDatosAdministrativos" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px;">Guardar</button>
                                    <button type="button" id="btnCancelarDatosAdministrativos" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="datUsuaria" class="tab-pane">
                        <div class="row comunForm">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="col-md-4 form-group">
                                        <label>Nombre</label>
                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="" value=@Model.VC_NOMBRE>
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label>Primer Apellido</label>
                                        <input class="form-control" placeholder="Apellido" id="txtApellido1" type="text" required="" value=@Model.VC_APELLIDO1>
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label>Segundo Apellido</label>
                                        <input class="form-control" placeholder="Apellido" id="txtApellido2" type="text" required="" value=@Model.VC_APELLIDO2>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Edad</label>
                                        <input class="form-control" placeholder="Edad" id="intEdad" type="number" required="" min="0">
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>País de Procedencia</label>
                                        <select id="comPais" class="form-control"></select>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label>Nacionalidad</label>
                                        <select id="comNacionalidad" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label>Otra Nacionalidad</label>
                                        <select id="comOtraNacionalidad" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Condición Migratoria</label>
                                        <select id="comMigratoria" class="form-control"></select>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Numero de Hijos</label>
                                        <input class="form-control" placeholder="Número de Hijos" value=@Model.I_HIJOS min="0" id="intHijos" type="number" required="">
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label> Hijo mayor de 12 años</label>
                                        <input class="form-control" placeholder="Número de Hijos mayores de 12" value=@Model.I_HIJOSMAYORESDOCE min="0" id="intHijosMayores" type="number" required="">
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Discapacidades en hijos/hijas</label>
                                        <select id="comDiscapacidad" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-6 form-group">
                                    <div class="col-md-12 form-group">
                                        <label>Número Documento de identificación</label>
                                        <input class="form-control" placeholder="Número Documento de identificación" id="txtDocId" type="text" required="" value=@Model.VC_IDENTIFICACION>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Teléfono</label>
                                        <input class="form-control" placeholder="Telefono" id="txtTelefono" type="text" required="" @*@value=@Model.TBL_TELEFONO.First().VC_NUMERO *@>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Lugar de Procedencia</label>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>Provincia</label>
                                        <select id="cmbPersonaProvincia" class="form-control" required>
                                            @*<option value=""></option>*@
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>Cantón</label>
                                        <select id="cmbPersonaCanton" class="form-control" required>
                                            @*<option value=""></option>*@
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>Distrito</label>
                                        <select id="cmbPersonaDistrito" class="form-control" required>
                                            @*<option value=""></option>*@
                                        </select>
                                    </div>

                                    

                                    <div class="col-md-12 form-group">
                                        <label>
                                            <input style="display:inline-block;" id="checkApatrida" type="checkbox"> Apátrida
                                        </label>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Lugar de Trabajo</label>
                                        <input class="form-control" placeholder="Lugar de Trabajo" id="txtLugarTrabajo" type="text" required="">
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>
                                            <input style="display:inline-block;" id="checkEmbarazo" type="checkbox"> Embarazo
                                        </label>
                                    </div>

                                    <div class="col-md-12 form-group" id="meses">
                                        <label>Meses de embarazo</label>
                                        <input class="form-control" placeholder="Meses de embarazo" id="intEmbarazo" type="number" required="" min="0">
                                    </div>

                                </div>

                            <div class="row" id="contenedorBotones">
                                <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                                    <button type="button" id="btnGuardarDatosUsuaria" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                                    <button type="button" id="btnCancelarDatosUsuaria" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div id="valoracion" class="tab-pane">
                        <div class="row comunForm">

                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Nombre de Persona Usuaria</label>

                                    <input class="form-control" placeholder="Nombre" id="txtNombre3" type="date" required="">
                                </div>

                            </div>

                        </div>
                    </div>
                    <div id="atencion" class="tab-pane">
                        <div class="row comunForm">

                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Nombre de Persona Usuaria</label>

                                    <input class="form-control" placeholder="Nombre" id="txtNombre4" type="date" required="">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



            </form>
        </div>
</div>


