
@model  SIVIO.Entidades.TBL_PERSONA

@{
    Layout = null;
}


<script type="text/javascript">


    function CargarDivisionTerritorial() {
        var divisionTerritorial = JSON.parse(localStorage.getItem('divisionTerritorial'));
        $("#cmbPersonaProvincia")
            .change(function () {
                debugger;
                $('#cmbPersonaCanton').find('option').remove().end();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaCanton")
                            .append($("<option />")
                                .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                                .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
                    }

                }
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaCanton")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaDistrito")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });


        for (var j = 0; j < divisionTerritorial[0].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            $("#cmbPersonaProvincia")
                .append($("<option />")
                    .val(divisionTerritorial[0].Value[j].I_IDPROVINCIA)
                    .text(divisionTerritorial[0].Value[j].VC_DESCRIPCION));
        }
        var empresaProvinciaSel = $("#cmbPersonaProvincia").val();
        for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaCanton")
                    .append($("<option />")
                        .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                        .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
            }

        }


        var empresaCantonSel = $("#cmbPersonaCanton").val();
        for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[2].Value[j].I_IDCANTON == empresaCantonSel &
                divisionTerritorial[2].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaDistrito")
                    .append($("<option />")
                        .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                        .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
            }

        }

        for (var j = 0; j < divisionTerritorial[3].Value.length; j++) {
            $("#cmbPersonaRegion")
                .append($("<option />").val(divisionTerritorial[3].Value[j].I_IDREGION).text(divisionTerritorial[3].Value[j].VC_DESCRIPCION));
        }

    }

    function llenarComboBox(nombreCatalogo, nombreComboBox, valorComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });

                if (valorComboBox) {
                    $(nombreComboBox).val(valorComboBox);
                }
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    function comboMultiple(nombreComboBox) {
        return () => {
            //$('#btn-login').fadeIn();
            $(nombreComboBox).selectize({
                sortField: 'text',
                create: false,
                placeholder: "Tipo de CEAAM",
            });
            $.LoadingOverlay("hide");
        }
    }



    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("RetornarDivisionTerritorial", "Catalogos")',
            // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false, //avoid caching results
            async: true,
            data: {}, // here you can pass arguments to your request if you need
            success: function (data) {
                // data is your result from controller
                localStorage.setItem('divisionTerritorial', JSON.stringify(data));

            },
            error: function (xhr) {
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Conexión Fallida");
                $("#txtModalContenido").text("Fallo al cargar división territorial");
                instMensajes.open();
                $("#contenedorEsperaIndicadores").hide();
                $("#pnlIndicadoresRegion").show();
            }
        });
    });
    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function (resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(
            $('#checkFecha').change(function () {
                if ($(this).is(':checked')) {
                    $('#fechaNacimiento').show();
                    $('#edad').hide();
                } else {
                    $('#fechaNacimiento').hide();
                    $('#edad').show();
                }
            })    
       ).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso CEEAM", "#cmbTipoEgreso"))
            .then(llenarComboBox("Orientación Sexual", "#cmbOrientacionSexual", @Html.Raw(Model.FK_ORIENTACIONSEXUAL)))
            .then(llenarComboBox("Etnia", "#cmbOrigenEtnico", @Html.Raw(Model.FK_ETNIA)))
            .then(llenarComboBox("Estado Civil", "#cmbCondicionCivil", @Html.Raw(Model.FK_ESTADOCIVIL)))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridad", @Html.Raw(Model.FK_ESCOLARIDAD)))
            .then(llenarComboBox("Tipo de Familia", "#cmbTipoFamilia", @Html.Raw(Model.FK_TIPOFAMILIA)))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidad", @Html.Raw(Model.FK_NACIONALIDAD)))
            .then(llenarComboBox("Nacionalidad", "#cmbOtraNacionalidad", @Html.Raw(Model.FK_NACIONALIDAD2)))
            .then(llenarComboBox("Ocupación", "#cmbOcupacion", @Html.Raw(Model.FK_OCUPACION)))
            .then(llenarComboBox("Situación Laboral", "#cmbCondicionLaboral", @Html.Raw(Model.TBL_LABORAL.FK_CONDICIONLABORAL)))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbExperienciaLaboral", @Html.Raw(Model.TBL_LABORAL.I_ANNOSEXPERIENCIA)))
            //.then(llenarComboBox("", "#cmbCondicionAseguramiento"))
            .then(llenarComboBox("Tipo de vivienda", "#cmbVivienda", @Html.Raw(Model.FK_TIPOVIVIENDA)))
            .then(llenarComboBox("Tipo de Discapacidad", "#cmbDiscapacidad"))
            .then(llenarComboBox("Adicción", "#cmbAdicciones"))
            .then(llenarComboBox("Género", "#cmbGenero", @Html.Raw(Model.FK_GENERO)))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidadHV"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridadHV"))
            .then(llenarComboBox("Adicción", "#cmbAdiccionesHV"))
            .then(llenarComboBox("Número de separaciones de la persona agresora", "#cmbNumeroSeparacionesPersonaAgresora"))
            .then(llenarComboBox("Motivo para retomar relación con persona agresora", "#cmbMotivosRegresar"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesLegales"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesPsiquiatricos"))
            .then(llenarComboBox("Tipo de Atención Médica", "#cmbAtencionMedicaProductoDeAgresion"))
            //.then(llenarComboBox("Situación Enfrentada", "#cmbTipoViolencia"))
            .then(llenarComboBox("Impacto producto de violencia", "#cmbImpactoViolencia"))
            .then(llenarComboBox("Valoracion de riesgo", "#cmbValoracionRiesgo"))
            .then(llenarComboBox("Condicion legal al ingreso", "#cmbCondicionLegalIngreso"))
            //.then(llenarComboBox("Medida de Protección", "#cmbMedidasProteccion"))
            //.then(llenarComboBox("", "#cmbEncuentraEnProgramaOAPVD"))
            .then(llenarComboBox("Situación de Violencia Física", "#cmbViolenciaFisica"))
            .then(llenarComboBox("Situación de Violencia Psicológica", "#cmbViolenciaPsicologica"))
            .then(llenarComboBox("Situación de Violencia Sexual", "#cmbViolenciaSexual"))
            .then(llenarComboBox("Situación de Violencia Patrimonial", "#cmbViolenciaPatrimonial"))

            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(comboMultiple("#cmbDiscapacidad"))
            .then(comboMultiple("#cmbAdicciones"))
            .then($('#dateNacimiento').val('@Model.DT_FECHANACIMIENTO'))
            .then($('#txtEdadUsuaria').val(@Model.I_EDAD))







    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">


    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");

        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();
        CargarDivisionTerritorial();
    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);

        if ('@Model.B_CONOCEFECHANACIMIENTO' == 'True'){
            $('#checkFecha').prop('checked', true).change();
        }

        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();

        $("input[name='checkApatrida']").change(function() {
            $("#cmbNacionalidad").toggle();
            $('#cmbOtraNacionalidad').toggle();
        });
        $("input[name='checkApatrida']:checked").change();
    }





</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    
    <h2 style="padding-left:15px">Expediente de @Html.Raw(Model.VC_NOMBRE) @Html.Raw(Model.VC_APELLIDO1) @Html.Raw(Model.VC_APELLIDO2)</h2>

    <div class="col-md-2 form-group" style="padding-left:15px;padding-right:1px">
       <br />
        <button type="button" id="btnExpediente" class="btn btn-default btn-responsive" style="margin-bottom:5px; margin-top:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Expediente</button>

        <button type="button" id="btnReferencias" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Referencias</button>

        <button type="button" id="btnHistorial" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Historiales</button>

        <button type="button" id="btnCrearCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Crear Caso</button>

        <button type="button" id="btnCerrarCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Cerrar Caso</button>
    <br />
    </div>
    <div class="col-md-10 form-group">
        <div class="container-fluid" id="contenedorPrincipal">

            <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">


                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabIngresoEgreso">Ingreso y Egreso</a></li>
                    <li><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil de Usuaria</a></li>
                    <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de Violencia</a></li>
                    <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
                    <li><a data-toggle="tab" href="#tabHijosHijas">Hijos e Hijas</a></li>
                    <li><a data-toggle="tab" href="#tabSeguimientos">Seguimientos</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tabIngresoEgreso" class="tab-pane fade in active" style="padding:5px">
                        @Html.Partial("CrearCasoIngresoEgreso")
                    </div>@*tab ingreso y egreso*@






                    <div id="tabPerfilUsuaria" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoPerfilUsuaria")
                    </div>@*perfil de usuaria*@

                    <div id="tabHistoriaViolencia" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoHistoriaViolencia")
                    </div>

                    <div id="tabAtenciones" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("~/Views/Atenciones/Atenciones.cshtml")
                    </div>

                    <div id="tabHijosHijas" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoHijosHijas")
                    </div>

            <div id="tabSeguimientos" class="tab-pane fade" style="padding:5px">
                @Html.Partial("CrearCasoSeguimientos")
            </div>
    </div>
                @* Botón de cancelar *@
                <a href="CrearCaso" class="btn btn-primary" id="btnCancelar">Cancelar</a>

                @* Botón de crear usuaria *@
                <a href="#" class="btn btn-primary" form="crearcaso" id="btnGuardarCrearCaso">Guardar</a>
                <br><br>
            </form>
        </div>

    </div>
</div>







   

    


  