
@model  SIVIO.Entidades.TBL_PERSONA

@{
    Layout = null;
}


<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox, valorComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });
                
                if (valorComboBox) {
                    $(nombreComboBox).val(valorComboBox);
                }
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    function comboMultiple(nombreComboBox) {
        return () => {
            //$('#btn-login').fadeIn();
            $(nombreComboBox).selectize({
                sortField: 'text',
                create: false,
                placeholder: "Tipo de CEAAM",
            });
            $.LoadingOverlay("hide");
        }
    }

    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function (resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso CEEAM", "#cmbTipoEgreso"))
            .then(llenarComboBox("Orientación Sexual", "#cmbOrientacionSexual", @Html.Raw(Model.FK_ORIENTACIONSEXUAL)))
            .then(llenarComboBox("Etnia", "#cmbOrigenEtnico"))
            .then(llenarComboBox("Estado Civil", "#cmbCondicionCivil"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridad", @Html.Raw(Model.FK_ESCOLARIDAD)))
            .then(llenarComboBox("Tipo de Familia", "#cmbTipoFamilia"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidad"))
            .then(llenarComboBox("Nacionalidad", "#cmbOtraNacionalidad"))
            .then(llenarComboBox("Situación Migratoria", "#cmbCondicionMigratoria"))
            .then(llenarComboBox("Situación Laboral", "#cmbCondicionLaboral"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbExperienciaLaboral"))
            //.then(llenarComboBox("", "#cmbCondicionAseguramiento"))
            .then(llenarComboBox("Tipo de vivienda", "#cmbVivienda"))
            .then(llenarComboBox("Tipo de Discapacidad", "#cmbDiscapacidad"))
            .then(llenarComboBox("Adicción", "#cmbAdicciones"))
            .then(llenarComboBox("Género", "#cmbGenero"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidadHV"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridadHV"))
            .then(llenarComboBox("Adicción", "#cmbAdiccionesHV"))
            .then(llenarComboBox("Número de separaciones de la persona agresora", "#cmbNumeroSeparacionesPersonaAgresora"))
            .then(llenarComboBox("Motivo para retomar relación con persona agresora", "#cmbMotivosRegresar"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesLegales"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesPsiquiatricos"))
            .then(llenarComboBox("Tipo de Atención Médica", "#cmbAtencionMedicaProductoDeAgresion"))
            //.then(llenarComboBox("Situación Enfrentada", "#cmbTipoViolencia"))
            .then(llenarComboBox("Impacto producto de violencia", "#cmbImpactoViolencia"))
            .then(llenarComboBox("Valoracion de riesgo", "#cmbValoracionRiesgo"))
            .then(llenarComboBox("Condicion legal al ingreso", "#cmbCondicionLegalIngreso"))
            //.then(llenarComboBox("Medida de Protección", "#cmbMedidasProteccion"))
            //.then(llenarComboBox("", "#cmbEncuentraEnProgramaOAPVD"))
            .then(llenarComboBox("Situación de Violencia Física", "#cmbViolenciaFisica"))
            .then(llenarComboBox("Situación de Violencia Psicológica", "#cmbViolenciaPsicologica"))
            .then(llenarComboBox("Situación de Violencia Sexual", "#cmbViolenciaSexual"))
            .then(llenarComboBox("Situación de Violencia Patrimonial", "#cmbViolenciaPatrimonial"))

            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(comboMultiple("#cmbDiscapacidad"))
            .then(comboMultiple("#cmbAdicciones"))







    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">


    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");

        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();

        $("input[name='checkApatrida']").change(function() {
            $("#cmbNacionalidad").toggle();
            $('#cmbOtraNacionalidad').toggle();
        });
        $("input[name='checkApatrida']:checked").change();
    }





</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    <div class="col-md-2 form-group" style="padding-left:15px;padding-right:1px">
       <br />
        <button type="button" id="btnExpediente" class="btn btn-default btn-responsive" style="margin-bottom:5px; margin-top:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Expediente</button>

        <button type="button" id="btnReferencias" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Referencias</button>

        <button type="button" id="btnHistorial" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Historiales</button>

        <button type="button" id="btnCrearCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Crear Caso</button>

        <button type="button" id="btnCerrarCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Cerrar Caso</button>
    <br />
    </div>
    <div class="col-md-10 form-group">
        <div class="container-fluid" id="contenedorPrincipal">

            <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">


                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabIngresoEgreso">Ingreso y Egreso</a></li>
                    <li><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil de Usuaria</a></li>
                    <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de Violencia</a></li>
                    <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
                    <li><a data-toggle="tab" href="#tabHijosHijas">Hijos e Hijas</a></li>
                    <li><a data-toggle="tab" href="#tabSeguimientos">Seguimientos</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tabIngresoEgreso" class="tab-pane fade in active" style="padding:5px">
                        @Html.Partial("CrearCasoIngresoEgreso")
                    </div>@*tab ingreso y egreso*@






                    <div id="tabPerfilUsuaria" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoPerfilUsuaria")
                    </div>@*perfil de usuaria*@

                    <div id="tabHistoriaViolencia" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoHistoriaViolencia")
                    </div>

                    <div id="tabAtenciones" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoAtenciones")
                    </div>

                    <div id="tabHijosHijas" class="tab-pane fade" style="padding:5px">
                        @Html.Partial("CrearCasoHijosHijas")
                    </div>

            <div id="tabSeguimientos" class="tab-pane fade" style="padding:5px">
                @Html.Partial("CrearCasoSeguimientos")
            </div>
    </div>
                @* Botón de cancelar *@
                <a href="CrearCaso" class="btn btn-primary" id="btnCancelar">Cancelar</a>

                @* Botón de crear usuaria *@
                <a href="#" class="btn btn-primary" form="crearcaso" id="btnGuardarCrearCaso">Guardar</a>
                <br><br>
            </form>
        </div>

    </div>
</div>







   

    


  