
@model SIVIO.UI.Models.ExpedienteModel

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        PrevenirCaracteresInvalidos();
        debugger;
        document.title = "SIVIO - Delegación de la Mujer";
        CargarDropdowns();
        CargarDivisionTerritorial();

    });
    function CargarDropdowns() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("CargarDropdowns")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            success: function (resultado) {
                debugger;
                var respuesta = JSON.parse(resultado);
                if (respuesta.Mensaje.TipoMensaje === 1) {
                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#cmbPaisProcedencia').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#cmbNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#cmbOtraNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoNacionalidad, function (key, value) {
                        $('#cmbApatrida').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoCondicionCivil, function (key, value) {
                        $('#cmbCondicionCivil').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoEscolaridad, function (key, value) {
                        $('#cmbEscolaridad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoEmbarazo, function (key, value) {
                        $('#cmbEmbarazo').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoCondicionMigratoria, function (key, value) {
                        $('#cmbCondicionMigratoria').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                    $.each(respuesta.CatalogoOcupacion, function (key, value) {
                        $('#cmbOcupacion').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $('#btn-login').fadeIn();
                    $.LoadingOverlay("hide");
                } else {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error");
                    $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                    instMensajes.open();
                    $.LoadingOverlay("hide");


                }



            },
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        });
    }

    function CargarDivisionTerritorial() {
        var divisionTerritorial = JSON.parse(localStorage.getItem('divisionTerritorial'));
        $("#cmbPersonaProvincia")
            .change(function () {
                debugger;
                $('#cmbPersonaCanton').find('option').remove().end();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaCanton")
                            .append($("<option />")
                                .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                                .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
                    }

                }
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaCanton")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                $('#cmbPersonaDistrito').find('option').remove().end();
                var personaCantonSel = $("#cmbPersonaCanton").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    //console.log(data[0].Value[j].VC_DESCRIPCION);
                    if (divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &
                        divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel) {
                        $("#cmbPersonaDistrito")
                            .append($("<option />")
                                .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                                .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
                    }
                }
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });
        $("#cmbPersonaDistrito")
            .change(function () {
                var personaCantonSel = $("#cmbPersonaCanton").val();
                var personaProvinciaSel = $("#cmbPersonaProvincia").val();
                var personaDistritoSel = $("#cmbPersonaDistrito").val();
                for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
                    if (divisionTerritorial[2].Value[j].I_IDPROVINCIA == personaProvinciaSel &&
                        divisionTerritorial[2].Value[j].I_IDCANTON == personaCantonSel &&
                        divisionTerritorial[2].Value[j].I_IDDISTRITO == personaDistritoSel) {
                        var distritoSeleccionado = divisionTerritorial[2].Value[j];
                        $("#cmbPersonaRegion").val(distritoSeleccionado.I_IDREGION);
                    }
                }

            });


        for (var j = 0; j < divisionTerritorial[0].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            $("#cmbPersonaProvincia")
                .append($("<option />")
                    .val(divisionTerritorial[0].Value[j].I_IDPROVINCIA)
                    .text(divisionTerritorial[0].Value[j].VC_DESCRIPCION));
        }
        var empresaProvinciaSel = $("#cmbPersonaProvincia").val();
        for (var j = 0; j < divisionTerritorial[1].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[1].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaCanton")
                    .append($("<option />")
                        .val(divisionTerritorial[1].Value[j].I_IDCANTON)
                        .text(divisionTerritorial[1].Value[j].VC_DESCRIPCION));
            }

        }


        var empresaCantonSel = $("#cmbPersonaCanton").val();
        for (var j = 0; j < divisionTerritorial[2].Value.length; j++) {
            //console.log(data[0].Value[j].VC_DESCRIPCION);
            if (divisionTerritorial[2].Value[j].I_IDCANTON == empresaCantonSel &
                divisionTerritorial[2].Value[j].I_IDPROVINCIA == empresaProvinciaSel) {
                $("#cmbPersonaDistrito")
                    .append($("<option />")
                        .val(divisionTerritorial[2].Value[j].I_IDDISTRITO)
                        .text(divisionTerritorial[2].Value[j].VC_DESCRIPCION));
            }

        }

        for (var j = 0; j < divisionTerritorial[3].Value.length; j++) {
            $("#cmbPersonaRegion")
                .append($("<option />").val(divisionTerritorial[3].Value[j].I_IDREGION).text(divisionTerritorial[3].Value[j].VC_DESCRIPCION));
        }
    }
</script>

    
<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }

    .inlineCheckBox{
        display:inline-block;
        vertical-align:middle;
    }
</style>


<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    <div class="col-md-12 form-group">
        <div class="col-md-2 form-group">
            <button type="button" id="btnExpediente" class="btn btn-default btn-responsive" style="margin-bottom:5px; margin-top:50px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Expediente</button>

            <button type="button" id="btnReferencias" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Referencias</button>

            <button type="button" id="btnHistorial" class="btn btn-default btn-responsive" style="margin-bottom:100%; display: block; width: 100%; color: white; background-color: #368DE9; border-color: #368DE9;">Historiales</button>

            <button type="button" id="btnCrearCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; padding-top display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Crear Caso</button>

            <button type="button" id="btnCerrarCaso" class="btn btn-default btn-responsive" style="margin-bottom:5px; display: block; width: 100%; color: white; background-color: #FA8258; border-color: #FA8258;">Cerrar Caso</button>
        </div>

        <div class="col-md-10 form-group">
            <form id="formDelegacion" method="post">
                <div style="margin-left:20px;">
                    @*<h2>Expediente de: @Model.persona.VC_NOMBRE @Model.persona.VC_APELLIDO1 @Model.persona.VC_APELLIDO2</h2>
                        <h4>Identificación: @Model.persona.VC_IDENTIFICACION <br /> Número de expediente: @Model.persona.PK_PERSONA</h4>*@
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#datAdministrativos">
                            <i class="fa fa-file-text" aria-hidden="true"></i>Datos Administrativos
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#datUsuaria">
                            <i class="fa fa-address-card" aria-hidden="true"></i>Datos Usuaria
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#datPerfil">
                            <i class="fa fa-address-card" aria-hidden="true"></i>Perfil
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#historialViolencia">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Historial de violencia
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#atencion">
                            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>Atención
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#intervencion">
                            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>Intervención
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="datAdministrativos" class="tab-pane fade in active">
                        <div class="row comunForm">
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    @*<button class="botonCerrar danger" id="btnCerrarFrmDatosAdministrativos">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Fecha del incidente</label>
                                    <input class="form-control" id="txtFecha" type="text" required="">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hora inicio</label>
                                    <input class="form-control" id="txtHoraInicio" type="text" required="">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hora finalización</label>
                                    <input class="form-control" placeholder="--:-- --" id="txtHoraFinalización" type="text" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Persona que atiende</label>
                                    <input class="form-control" id="txtPersonaAtiende" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Tipo de disponibilidad</label>
                                    <select class="form-control" id="cmbTipoDisponibilidad" type="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Institucion que refiere</label>
                                    <input class="form-control" id="txtInstitucion" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Nombre de quien refiere</label>
                                    <input class="form-control" id="txtPersonaQuienRefiere" type="text" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Telefono</label>
                                    <input class="form-control" id="txtTelefonoPersona" type="text" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Correo</label>
                                    <input class="form-control" id="txtCorreoPersona" type="text" required="">
                                </div>
                            </div>
                            <div class="row" id="contenedorBotones">
                                <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                                    <button type="button" id="btnGuardarDatosAdministrativos" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                                    <button type="button" id="btnCancelarDatosAdministrativos" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="datUsuaria" class="tab-pane">
                        <div class="row comunForm">
                            <table width="100%" border="0" cellspacing="100" align="right">
                                <td style="top">
                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Nombre</label>
                                            <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Primer apellido</label>
                                            <input class="form-control" placeholder="Nombre" id="txtApellido1" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Segundo apellido</label>
                                            <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Identificación</label>
                                            <input class="form-control" placeholder="Número de identificación" id="txtIdentificación" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Fecha de nacimiento</label>
                                            <input type="date" id="txtEdad">
                                            <!-- Buscar manera de que el label se ubique SOBRE el calendario -->
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Edad</label>
                                            <input class="form-control" placeholder="Edad en años cumplidos" id="txtEdad" type="text" required="">
                                            <!-- Ocultar si se toca el calendario -->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Provincia</label>
                                            <select class="form-control" id="cmbPersonaProvincia" required>
                                            </select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Cantón</label>
                                            <select class="form-control" id="cmbPersonaCanton" required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Distrito</label>
                                            <select class="form-control" id="cmbPersonaDistrito" required>
                                            </select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>País de procedencia</label>
                                            <select id="cmbPaisProcedencia" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Dirección exacta de domicilio</label>
                                            <input class="form-control" placeholder="Dirección exacta de domicilio" id="txtDireccionDomicilio" type="text" required="">
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Dirección para notificaciones</label>
                                            <input class="form-control" placeholder="Dirección para notificaciones" id="txtDireccionNotificaciones" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Correo electrónico</label>
                                            <input class="form-control" placeholder="Dirección de correo electrónico" id="txtCorreoElectronico" type="text" required="">
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Teléfono</label>
                                            <input class="form-control" placeholder="Número de teléfono" id="txtTelefono" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Condición civil</label>
                                            <select id="cmbCondicionCivil" class="form-control"></select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Escolaridad</label>
                                            <select id="cmbEscolaridad" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Número de hijas/os</label>
                                            <input class="form-control" placeholder="Número de hijas/os" id="txtNumeroHijos" type="text" required="">
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Embarazo (meses)</label>
                                            <select id="cmbEmbarazo" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Nacionalidad</label>
                                            <select id="cmbNacionalidad" class="form-control"></select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Ora nacionalidad</label>
                                            <select id="cmbOtraNacionalidad" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Apátrida de</label>
                                            <select id="cmbApatrida" class="form-control"></select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Condición migratoria</label>
                                            <select id="cmbCondicionMigratoria" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Ocupación</label>
                                            <select id="cmbOcupacion" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <ng-form>
                                            <legend></legend>
                                            <div class="col-xs-6 form-group">
                                                <label>Tipificación de la violencia</label>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxViolenciaFisica" /></div>
                                                    <div class="inlineCheckBox">Violencia física </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxViolenciaSexual" /></div>
                                                    <div class="inlineCheckBox">Violencia sexual </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxViolenciaPatrimonial" /></div>
                                                    <div class="inlineCheckBox">Violencia patrimonial </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxViolenciaPsicologica" /></div>
                                                    <div class="inlineCheckBox">Violencia psicológica </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxAcosoSexual" /></div>
                                                    <div class="inlineCheckBox">Acoso sexual callejero </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxAcosoLaboral" /></div>
                                                    <div class="inlineCheckBox">Acoso laboral </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxHostigamientoSexual" /></div>
                                                    <div class="inlineCheckBox">Hostigamiento sexual </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxTrataPersonas" /></div>
                                                    <div class="inlineCheckBox">Trata de personal </div>
                                                </div>
                                                <div id="read-confirm-box">
                                                    <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="chbxViolenciaObstetrica" /></div>
                                                    <div class="inlineCheckBox">Violencia obstétrica </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 form-group">
                                                <label>Vínculo con persona agresora</label>
                                                <input class="form-control" placeholder="Vínculo con persona agresora" id="txtPersonaAgresora" type="text" required="">
                                            </div>
                                        </ng-form>
                                    </div>
                                </td>
                            </table>
                        </div>
                    </div>
                    <!--Inicia pestaña Datos de perfil de usuaria-->
                    <div id="datPerfil" class="tab-pane">
                        <div class="row comunForm">
                            <table width="100%" border="0" cellspacing="100" align="right">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Identidad de género</label>
                                            <select id="cmbTipoIdentidadGenero" class="form-control"></select>
                                        </div>
                                        <div class="col-xs-6 form-group">
                                            <label>Orientacion sexual</label>
                                            <select id="cmbTipoIdentidadGenero" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Origen étnico</label>
                                            <select id="cmbTipoOrigenEtnico" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Condición laboral</label>
                                            <select id="cmbTipoCondicionLaboral" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Experiencia laboral</label>
                                            <input class="form-control" placeholder="Nombre" id="txtExperienciaLaboral" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Lugar de trabajo</label>
                                            <input class="form-control" placeholder="Nombre" id="txtLugarTrabajo" type="text" required="">
                                        </div>

                                        <div class="col-xs-6 form-group">
                                            <label>Puesto que desempeña</label>
                                            <input class="form-control" placeholder="Nombre" id="txtPuestoTrabajo" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Direccion de lugar de trabajo</label>
                                            <input class="form-control" placeholder="Nombre" id="txtDireccionLugarTrabajo" type="text" required="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Tipo de familia</label>
                                            <select id="cmbTipoFamilia" class="form-control"></select>
                                        </div>

                                        <div class="col-xs-6 form-group">
                                            <label>Condición de aseguramiento</label>
                                            <select id="cmbTipoCondicionAseguramiento" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 form-group">
                                            <label>Tipo de vivienda</label>
                                            <select id="cmbTipoVivienda" class="form-control"></select>
                                        </div>
                                    </div>

                                    <!--Inicia Condiciones especiales de salud-->
                                    <div class="row" style="top:auto">
                                        <div class="col-xs-12">
                                            <ng-form>
                                                <input type="button" style="margin:7px"/>
                                                <legend>Condiciones especiales de salud</legend>
                                                <div class="col-xs-2" style="height:100%">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxFisica" /></div>
                                                        <div class="inlineCheckBox">Física</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxCognitiva" /></div>
                                                        <div class="inlineCheckBox">Cognitiva</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxMental" /></div>
                                                        <div class="inlineCheckBox">Mental</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxSensorial" /></div>
                                                        <div class="inlineCheckBox">Sensorial</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxPadecimientosCrónicos" /></div>
                                                        <div class="inlineCheckBox">Padecimientos crónicos</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxCondicionPsiquiatrica" /></div>
                                                        <div class="inlineCheckBox">Condición Psiquiátrica</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxEnfermedadTerminal" /></div>
                                                        <div class="inlineCheckBox">Enfermedad terminal</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxITS" /></div>
                                                        <div class="inlineCheckBox">ITS</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxSIDA" /></div>
                                                        <div class="inlineCheckBox">VIH-SIDA</div>
                                                    </div>
                                                </div>
                                            </ng-form>
                                        </div>
                                    </div>
                                    <!--Finaliza Condiciones especiales de salud-->
                                    <!--Inicia Adicciones-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ng-form>
                                                <legend>Adicciones</legend>
                                                <div class="col-xs-2">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxNinguna" /></div>
                                                        <div class="inlineCheckBox">Ninguna</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxDrogas" /></div>
                                                        <div class="inlineCheckBox">Drogas</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxMedicamentos" /></div>
                                                        <div class="inlineCheckBox">Medicamentos</div>
                                                    </div>
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxJuego" /></div>
                                                        <div class="inlineCheckBox">Juego</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div id="read-confirm-box">
                                                        <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxAlcohol" /></div>
                                                        <div class="inlineCheckBox">Alcohol</div>
                                                    </div>
                                                </div>
                                            </ng-form>
                                        </div>
                                    </div>
                                    <!--Finaliza Adicciones-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <legend>Redes de apoyo de la usuaria</legend>
                                            <div id="read-confirm-box" style="border-spacing:initial">
                                                <div class="inlineCheckBox"><input style="display:inline-block;" type="checkbox" id="checkboxRedesApoyo" /></div>
                                                <div class="inlineCheckBox">Tiene redes de apoyo</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Inicia Redes de apoyo-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ng-form>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>Primaria:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Nombre</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Relación</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Teléfono</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>Secundaria:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Nombre</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Relación</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Teléfono</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>Institucional/Organizacional:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Nombre</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Institución</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Teléfono</label>
                                                        <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                                    </div>
                                                </div>
                                            </ng-form>
                                        </div>
                                    </div>
                                    <!--Finaliza Redes de apoyo-->
                                    <!--Inicia Composicion familiar-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ng-form>
                                                <legend>Composición familiar</legend>
                                                <table class="display table-bordered dataTable no-footer" style="width:80%; align-content:center; border-width:3px">
                                                    <tr>
                                                        <th>Nombre completo</th>
                                                        <th>Parentesco</th>
                                                        <th>Edad</th>
                                                        <th>Escolaridad</th>
                                                        <th>Ocupación</th>
                                                    </tr>
                                                    <!--Falta un foreach-->
                                                </table>
                                            </ng-form>
                                        </div>
                                    </div>
                                    <!--Finaliza Composicion familiar-->
                                </td>
                            </table>
                        </div>
                    </div>
                    <!--Finaliza pestaña Datos de perfil de usuaria-->
                    <div id="historialViolencia" class="tab-pane">

                        <div class="row comunForm">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#perAgresora">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>Persona agresora
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#relHechos">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>Relato de los hechos
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#valRiesgo">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>Valoracion de riesgo
                                    </a>
                                </li>
                            </ul>

                            <div id="perAgresora" class="tab-pane">
                                <div class="row comunForm">
                                    <div class="row">
                                        <div class="col-xs-4 form-group">
                                            <label>Nombre de la Persona agresora:</label>
                                            <input type="text" class="form-control" placeholder="" id="nombre" value="" />
                                        </div>

                                        <div class="col-xs-4 form-group">
                                            <label>Ocupación de la persona agrespra:</label>
                                            <input type="text" class="form-control" placeholder="." id="ocupacion" value="" />
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-4 form-group">
                                            <label>Sexo de la persona agresora:</label>
                                            <input type="text" list="exampleList" id="sexo" />
                                            <datalist id="exampleList">
                                                <option value="femenino">
                                                <option value="masculino">
                                            </datalist>
                                        </div>
                                        <div class="col-xs-4 form-group">
                                            <label>Escolaridad de la persona agresora:</label>

                                            <input type="text" list="exampleList2" id="escolaridad" />
                                            <datalist id="exampleList2">
                                                <option value="primaria completa">
                                                <option value="primaria incompleta">
                                                <option value="secundaria completa ">
                                                <option value="secundaria incompleta">
                                                <option value="universitario/técnico">
                                                <option value="universitaria completa ">
                                                <option value="universitaria incompleta">
                                                <option value="ningún grado">
                                                <option value="Analfabeta">
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4 form-group">
                                            <label>Edad de la persona agresora:</label>
                                            <input type="text" class="form-control" placeholder="." id="edad" value="" />
                                        </div>
                                        <div class="col-xs-4 form-group">
                                            <label>Nacionalidad de la persona agresora:</label>
                                            <select class="form-control selectized" id="cmbnacionalidad" tabindex="-1" style="display: none;"><option value="3" selected="selected">nacionalidad</option></select><div class="selectize-control form-control single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="3">nacionalidad</div><input type="text" autocomplete="off" tabindex="" style="width: 4px;"></div></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 form-group">
                                            <input type="checkbox" id="MP"> Tiene MP<br>
                                        </div>

                                        <div class="col-xs-4 form-group">
                                            <input type="checkbox" id="denunciaPenal"> Tiene Denuncia Penal<br>
                                        </div>
                                    </div>
                                    <div id="datosMP" style="padding-top: 15px; padding-bottom: 11px; background-color: white; margin-bottom: 11px; margin-left: 0px; margin-right: 0px; border: 2px solid #808080; border-radius: 4px; -webkit-box-shadow: none; box-shadow: none;">
                                        <label>MP</label>
                                        <div class="row">
                                            <div class="col-xs-4 form-group">
                                                <label>Fecha de Vencimiento:</label>
                                                <input type="text" class="form-control" placeholder="" id="MPvencimiento" value="" />
                                            </div>

                                            <div class="col-xs-4 form-group">
                                                <label>numero Expediente:</label>
                                                <input type="text" class="form-control" placeholder="." id="MPExpediente" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="datosDenuncia" style="padding-top: 15px; padding-bottom: 11px; background-color: white; margin-bottom: 11px; margin-left: 0px; margin-right: 0px; border: 2px solid #808080; border-radius: 4px; -webkit-box-shadow: none; box-shadow: none;">
                                        <label>Denuncia Penal</label>
                                        <div class="row">
                                            <div class="col-xs-4 form-group">
                                                <label>Fecha de Vencimiento:</label>
                                                <input type="text" class="form-control" placeholder="" id="Denunciavencimiento" value="" />
                                            </div>

                                            <div class="col-xs-4 form-group">
                                                <label>numero Expediente:</label>
                                                <input type="text" class="form-control" placeholder="." id="DenunciaExpediente" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="contenedorBotones">
                                        <div class="col-xs-4 form-group">
                                            <button type="button" id="cancelar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                                            <button type="button" id="guardar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div id="relHechos" class="tab-pane">
                                <div class="row comunForm">
                                    <div class="row">
                                        <div class="col-xs-4 form-group">
                                            <div class="col-xs-4 form-group" style="">
                                                <label>Relato hechos de violencia:</label>
                                                <textarea rows="10" cols="60" id="txtRelato"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 form-group">
                                            <label>tiempo de la relación:</label>
                                            <input type="text" class="form-control" placeholder="." id="txtTiempoRelacion" value="" />
                                            <label>tiempo de la agresión:</label>
                                            <input type="text" class="form-control" placeholder="." id="txtTiempoAgresion" value="" />
                                        </div>
                                    </div>
                                    <div class="row" id="contenedorBotonesRelHechos">
                                        <div class="col-xs-4 form-group">
                                            <button type="button" id="cancelar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                                            <button type="button" id="guardar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="valRiesgo" class="tab-pane">
                                <div class="row comunForm">
                                    <style>
                                        table, th, td {
                                            border: 1px solid gray;
                                        }
                                    </style>
                                    <div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
                                        <div class="row">
                                            <label>Valoración de riesgo: </label>
                                            <input type="text" class="form-control" placeholder="." id="txtValoracion" value="" style="width: 20%;" />
                                            <button type="button" id="btnValoracion" class="btn btn-default btn-responsive" style="margin-bottom:5px; margin-top:0%; margin-left:93%; display: block; width: 5%; color: white; background-color: #368DE9; border-color: #368DE9; ">+</button>
                                        </div>
                                        <table style="margin-bottom:5px; margin-top:5px; margin-left:5px; margin-right: 5px" id="tblFormularioValoracion">
                                            <tr>
                                                <th>Criterio</th>
                                                <th>Si       </th>
                                                <th>No       </th>
                                                <th>Se desconoce</th>
                                                <th>Observaciones</th>
                                            </tr>
                                            <tr>
                                                <td>¿Han habido agresiones físicas garaves que causaron lesiones a la víctima o ameritaron una intervención médica?</td>
                                                <form action="" id="fila1">
                                                    <td><input type="radio" name="radio1" value=1><br></td>
                                                    <td><input type="radio" name="radio1" value=-1><br></td>
                                                    <td><input type="radio" name="radio1" value=0></td>
                                                    <td><textarea rows="5" cols="15" id="txtObservaciones1"></textarea></td>
                                                </form>
                                            </tr>
                                            <tr>
                                                <form action="" id="fila2">
                                                    <td>¿Ha usado o amenazado con usar un arma de fuego, cuchillo y otra arma letal contra la víctima?</td>
                                                    <td><input type="radio" name="radio2" value=1><checkbox> </td>
                                                    <td><input type="radio" name="radio2" value=-1><checkbox></td>
                                                    <td><input type="radio" name="radio2" value=0><checkbox></td>
                                                    <td><textarea rows="5" cols="15" id="txtObservaciones1"></textarea></td>
                                                </form>
                                            </tr>

                                        </table>
                                        <div class="row">
                                            <table style="margin-bottom:5px; margin-top:5px; margin-left:5px; margin-right: 5px">
                                                <tr>
                                                    <th>Valoración de riesgo</th>
                                                    <th>Fecha</th>
                                                    <th>Responsable de valorar</th>
                                                </tr>

                                                <tr>
                                                    <th><input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required=""></th>
                                                    <th><input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required=""></th>
                                                    <th><input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required=""></th>
                                                </tr>
                                            </table>
                                            <button type="button" id="btnEnviar" class="btn btn-default btn-responsive" style="display: block; color: white; background-color: #368DE9; border-color: #368DE9;">Enviar por correo</button>

                                            <button type="button" id="btnEliminar" class="btn btn-default btn-responsive" style="display: block; width: 5%; color: white; background-color: #ff0000; border-color: #ff0000;">x</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <div id="atencion" class="tab-pane">
            <div class="row comunForm">

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Atención</label>

                        <input class="form-control" placeholder="Nombre" id="txtNombre4" type="date" required="">
                    </div>

                </div>

            </div>
        </div>
        <div id="intervencion" class="tab-pane">
            <div class="row comunForm">

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Intervencion</label>

                        <input class="form-control" placeholder="Nombre" id="txtNombre4" type="date" required="">
                    </div>

                </div>

            </div>
        </div>

    </div>



    </form>
</div>
    </div>
</div>


